/* Add your styles here. */
:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --backgroundColor: #252A38;
    --backgroundDarkerColor: #151820;
    
    --foregroundColor: #DCDCDC;
    --primaryColor: #2985FF;

    --transparanantOverlayColor: #252A38d9;
    --profileMaskColor: #252a38a3;

    --headlineColor: #272343;
    --paragraphColor: #2d334a;
    --buttonColor: #ffd803;
    --buttonTextColor: #272343;

    --strokeColor: #272343;
    --highlightColor: #ffd803;
    --secondaryColor: #fffffe;
    --tertiaryColor: #bae8e8;

    --marginSmall: 5px;
    --marginMedium: 0.5rem;
    --paddingSmall: 5px;

    --regularWeight: 400;
    --boldWeight: 600;
    --lighterWeight: 300;

    --desktopNavBarHeight: 5vh;

}

h1, h2{
    color: var(--foregroundColor);
}

body{
    margin: 0px;
    background-color: var(--backgroundColor);

}

ol {
    margin: 0px var(--marginSmall); ;
    padding:0;
    display: flex;
    
}

ol li{
    list-style-type: none;
}


.bottom-nav {
    background-color: var(--backgroundDarkerColor);
    font-size: 2rem;
    padding: var(--paddingSmall);
}

.bottom-nav div{
    width: fit-content;
    margin: 0 auto;
}

.bottom-nav a {
    margin: var(--marginSmall);
}

.bottom-nav a, .bottom-nav a:visited{
   text-decoration: none;
   color: var(--secondaryColor);
}

.bottom-nav a:hover{
    color:var(--highlightColor);
}

/* Navbar appears at top */
@media only screen and (min-width: 768px) {
    body{
        margin-top: calc( var(--desktopNavBarHeight) + 1vh);
    }

}


